<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My First App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          {% if current_user.is_authenticated %}
          <a class="nav-link" href="favs">Favorite Countries</a>
          <a class="nav-link" href="todo">Countries to Visit</a>
          <a class="nav-link" href="createpost">Create Post</a>
          <a class="nav-link" href="myaccount">My Account</a>
          <a class="nav-link" href="myposts">My Posts</a>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('my_account') }}">My Account</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->

          <a class="nav-link" href="logout">Logout</a>
          {% else  %}
          <a class="nav-link" href="register">Register</a>
          <a class="nav-link" href="login">Login</a>
          
  
          {% endif %}
        </div>
      </div>
    </div>
  </nav>